<mat-toolbar>Información y pago</mat-toolbar>
<div *ngIf="loaded">
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="32px">

        <ng-container formGroupName="customer">

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Información de contacto</mat-card-title>
                    <mat-card-subtitle>A través de este contacto te notificaremos cualquier cambio en los boletos o
                        sobre el
                        evento.
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout="column">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="firstName" placeholder="Ingresa tu nombre completo">
                            <mat-error>Se requiere el nombre</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Apellidos</mat-label>
                            <input matInput formControlName="lastName" placeholder="Ingresa tus apellidos">
                            <mat-error>Apellido es obligatorio</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Correo electrónico</mat-label>
                            <input matInput formControlName="email" email placeholder="Ingresa tu correo electrónico">
                            <mat-error *ngIf="form.get('customer')?.get('email')?.hasError('required')">Correo
                                electrónico es obligatorio
                            </mat-error>
                            <mat-error *ngIf="form.get('customer')?.get('email')?.hasError('email')">Ingresa un correo
                                electrónico válido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-card-content>

            </mat-card>
        </ng-container>

        <div formArrayName="tickets" *ngIf="collectAttendeInfo" fxLayout="column" fxLayoutGap="8px">
            <ng-container *ngFor="let ticket of tickets.controls; let i = index">

                <mat-card [formGroupName]="i">
                    <mat-card-header>
                        <div mat-card-avatar>
                            <mat-icon>local_activity</mat-icon>
                        </div>
                        <mat-card-title>Boleto {{ i + 1}} - {{ticket.value.ticketName}}</mat-card-title>

                    </mat-card-header>
                    <mat-card-content>
                        <div fxLayout="column" fxLayoutAlign="start stretch">


                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input matInput name="name" formControlName="firstName">
                                <mat-error>Se requiere el nombre</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Apellidos</mat-label>
                                <input matInput name="lastName" formControlName="lastName">
                                <mat-error>Apellido es obligatorio</mat-error>
                            </mat-form-field>

                        </div>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>



        <div fxLayout="column">
            <span>
                Al conitnuar estás de acuerdo con los <a href="">términos y condiciones</a> y el <a href="">aviso de
                    privacidad</a>.
            </span>

            <a mat-raised-button color="primary" (click)="goNext()">Pagar {{ order.total |
                currency }}</a>
        </div>
    </form>




</div>