<img [src]="event.coverImage" alt="event image" style="width: 100%;">

<mat-toolbar>

    <h1>{{event.name}}</h1>
    <span class="spacer"></span>
    <button mat-raised-button color="primary">Comprar boletos</button>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Información">
        <mat-list role="list">
            <mat-list-item role="listitem">

                <strong>Fecha: &nbsp;</strong>
                {{event.date.toLocaleDateString()}}

            </mat-list-item>
            <mat-list-item role="listitem">

                <strong>Hora: &nbsp;</strong>
                {{event.date.toLocaleTimeString()}}

            </mat-list-item>
            <mat-list-item role="listitem">

                <strong>Lugar: &nbsp;</strong>
                {{event.place}}

            </mat-list-item>
            <mat-list-item role="listitem">

                <strong>Dirección: &nbsp;</strong>
                {{event.address}}

            </mat-list-item>
        </mat-list>
    </mat-tab>
    <mat-tab label="Sobre el evento">
        <mat-card>{{event.description}}</mat-card>
    </mat-tab>
</mat-tab-group>