<mat-toolbar color="accent" *ngIf="event.eventMessage">
    <mat-toolbar-row>
        <h2 style="margin: auto;">{{event.eventMessage}}</h2>
    </mat-toolbar-row>
</mat-toolbar>

<img [src]="event.coverImage" [alt]="event.name" title="event's cover" class="event-cover"  appParallax [ratio]="0.9">

<mat-toolbar>

    <h1>{{event.name}}</h1>
    <span class="spacer"></span>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="Información">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <mat-icon mat-list-icon>calendar_month</mat-icon>
                <div mat-line><strong>Fecha</strong></div>
                <div mat-line> {{event.date | eventDate}} </div>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon mat-list-icon>schedule</mat-icon>
                <div mat-line><strong>Hora &nbsp;</strong></div>
                <div mat-line>{{event.date | eventTime }}</div>

            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon mat-list-icon>pin_drop</mat-icon>
                <div mat-line><strong>Lugar &nbsp;</strong></div>
                <div mat-line>{{event.place}}</div>

            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon mat-list-icon>assistant_direction</mat-icon>
                <div mat-line><strong>Dirección &nbsp;</strong></div>
                <div mat-line>{{event.address}}</div>

            </mat-list-item>
        </mat-list>
    </mat-tab>
    <mat-tab label="Sobre el evento">
        <mat-card>
            <mat-card-content>
                <div [innerHTML]="event.description"></div>

            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Precios">
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let ticket of event.tickets">
                <mat-icon mat-list-icon>local_activity</mat-icon>
                <div mat-line> {{ticket.price | currency}} </div>
                <div mat-line>{{ticket.name}}</div>
            </mat-list-item>
        </mat-list>
    </mat-tab>
</mat-tab-group>
<mat-toolbar>
    <mat-toolbar-row>
        <a [routerLink]="'/cart/' + event.id" mat-raised-button color="primary" style="margin: auto;">Comprar boletos</a>
    </mat-toolbar-row>
</mat-toolbar>